@model ErrorViewModel
@{
    ViewData["Title"] = "禁止";
}

<h1 class="text-danger">禁止</h1>
<h2 class="text-danger">要求が拒否されました</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
